.message-box {
    margin-top: 50px;
    width: 600px;
}

.custom-card {
    background-color: rgba(215, 226, 227, 0.86);
    //background-color: rgba(11, 148, 144, 0.21);
}

.fade-transition {
    transition: 500ms all ease;
    opacity: 0;
    will-change: opacity;
}

.show {
    opacity: 1;
}

.legend {
    color: lighten(#2a2c2e, 5%);
    display: flex;
    float: right;
    line-height: 14px;
    margin-top: 5px;
}